@import url('https://fonts.googleapis.com/css2?family=Benne&family=Pacifico&display=swap');

/* General styling */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5vh;
  border-bottom: 1px solid #000;
  background-color: #fff;
}

nav button {
  background-color: rgb(21, 113, 136);
  color: #fff;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

#landing {
  margin: 0 auto;
  max-width: 70%;
}

.container {
  margin: 0 auto;
  max-width: 50%;
}

.heading {
  margin: 10vh auto 0.5vh;
  padding: 0.1rem;
  max-width: 60%;
  border-bottom: 1px solid #000;
}

.heading h1 {
  font-size: 3rem;
  font-family: 'Benne', serif;
}

.social-media {
  margin: 0.2rem auto;
  padding: 0.2rem;
  max-width: 60%;
}

.social-media .fab,
.fas,
.far {
  color: rgb(128, 128, 128);
  margin-right: 0.2rem;
}

.fa-search {
  margin: 0 1rem;
}

.fa-list {
  margin: 0 1rem;
}

/* End of header section */

img {
  display: block;
  max-width: 100%;
}

figcaption {
  color: grey;
}

article {
  max-width: 70%;
  margin: 0 auto;
  text-align: justify;
}

/* YouTube iframe embedded styling */
iframe {
  margin: 0 auto;
  border: 0;
}

/* Styling of floating aside */
.floating-image {
  float: left;
  max-width: 23%;
}

/* Styling the footer section */
footer {
  clear: both;
}

footer a {
  display: inline-block;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 1rem;
  margin: 5px auto;
}

.grid-item {
  text-align: left;
  padding: 0.5rem;
  margin-right: 3rem;
  color: #000;
  text-decoration: none;
}

.footer-heading {
  font-weight: bold;
}

.grid-container a:hover {
  text-decoration: underline;
}

.footer-bottom {
  color: rgb(128, 128, 128);
}
